h1,
h5 {
    font-family: 'Skranji', cursive;
    text-align: center;
    color: #EB5E55
}

body {
    background-color: #3A3335;
}

button {
    background-color: #b4b8ab
}

.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    margin-top: 20px;
}

.ticTacs {
    border: 5px solid #CBA135;
}

.ticTacs p {
    font-family: 'Skranji', cursive;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    color: #F3EFE0
}

.btnContainer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 100px;
}

#btnX,
#btn1,
#playerIs {
    font-family: 'Skranji', cursive;
    grid-column: 3/5;
}

#btnO,
#btn2,
#computerIs {
    font-family: 'Skranji', cursive;
    grid-column: 6/8;
}

.selected {
    text-align: center;
    margin: 0;
    margin-bottom: 3px;
    color: #7fefbd
}

.score {
    font-family: 'Skranji', cursive;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 40px, 40px;
    text-align: center;
    color: #7fefbd;
    text-align: center;
    vertical-align: center;
}

#playerP {
    grid-row: 1;
    grid-column: 3/5;
}

#playerSpan {
    grid-row: 1;
    grid-column: 6/7;
}

#computerP {
    grid-row: 2;
    grid-column: 3/5;
}

#computerSpan {
    grid-row: 2;
    grid-column: 6/7;
}

.btnContainer2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 100px
}

#newGame {
    font-family: 'Skranji', cursive;
    grid-column: 3/5;
}

#reset {
    font-family: 'Skranji', cursive;
    grid-column: 6/8;
}