:root {
    --light-blue: #59a5d8;
    --main-blue: #2c5aa0;
    --tan: #a9927d;
    --grey: #e3dbdb;
    --black: #0a0908;
    --google-font: 'Quicksand', sans-serif;
}

body {
    background-color: var(--light-blue);
}

.navbar {
    background-color: var(--tan);
    margin: 0;
    padding: 0;
}

.navbar-brand p {
    color: var(--black);
}

.navbar-header {
    background-color: var(--main-blue);
}

#opening {
    text-align: center;
    font-family: var(--google-font);
    color: var(--grey);
}

#header {}

#topRow {
    padding-bottom: 100px;
    background-color: var(--main-blue);
    text-align: center;
    color: var(--grey);
    font-family: var(--google-font);
}

#midRow {
    padding-bottom: 20px;
}

#portfolio {
    text-align: center;
    font-family: var(--google-font);
}

h2,
h3,
h4 {
    font-family: var(--google-font);
}

#links {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-content: center;
    height: 500px;
    text-align: center;
}

#links a {
    color: var(--black);
    text-decoration: none;
}



#projectPage {
    grid-column: 1/10;
    grid-row: 2/4;
}

#linkedinPage {
    grid-column: 1/10;
    grid-row: 4/6;
}

#githubPage {
    grid-column: 1/10;
    grid-row: 6/8;
}

#resumePage {
    grid-column: 1/10;
    grid-row: 8/10;
}

#certs {
    grid-column: 1/10;
    grid-row: 10/12;
}

#profHobbies {
    grid-column: 1/10;
    grid-row: 12/14
}

#contactMe {
    grid-column: 1/10;
    grid-row: 14/16;
}

#bottomRow {
    background-color: var(--tan);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: var(--google-font);
}

.mainLinks {
    font-size: 40px;
    text-decoration: underline;
}

.mainLinks:hover {
    background-color: var(--main-blue);
}

#return-image {
    width: 75px;
    height: 50px;
    margin: 0px 0px -1px -1px;
}
