:root{
    --light-blue: #59a5d8;
    --main-blue: #2c5aa0;
    --tan: #a9927d;
    --grey: #e3dbdb;
    --black: #0a0908;
    --cherry: #d1345b;
    --google-font: 'Quicksand', sans-serif;
}

body {
    background-color: var(--light-blue);
    margin: 0;
    font-family: var(--google-font);
}

#header {
    background-color: var(--tan);
    top: 0;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 600px;
    position: fixed;
    height: 50px;
}

.logo{
    margin-left: -50px;
}

.form-grid {
    display: grid;
    grid-template-rows: 25px 25px;
    grid-row-gap: 10px;
    justify-items: center;
}

#One {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: repeat(3, 50px);
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

#One a{
    color: var(--black);
    text-decoration: none;
}

#One a:hover{
    color: var(--cherry);
}

#return-header {
    height: 50px;
}

#header-img {
    width: 75px;
    height: 50px;
    margin-left: 50px;
}

#header{
    margin-bottom: 100px;
}

#topRow {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: var(--main-blue);
    text-align: center;
    color: var(--grey);
}

#bottomRow {
    background-color: var(--tan);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: var(--google-font);
}

.navbar {
    background-color: var(--tan);
    margin: 0;
    padding: 0;
}