:root{
    --light-blue: #59a5d8;
    --main-blue: #2c5aa0;
    --tan: #a9927d;
    --grey: #e3dbdb;
    --black: #0a0908;
    --cherry: #d1345b;
    --google-font: 'Quicksand', sans-serif;
}

body {
    background-color: var(--light-blue);;
}

.navbar {
    background-color: var(--tan);
    margin: 0;
}

li {
    float: left;
}

#opening {
    text-align: center;
    font-family: var(--google-font);
}

#topRow {
    padding-bottom: 100px;
    background-color: var(--main-blue);
    color: var(--grey);	
    font-family: var(--google-font);
}

#midRow {
    padding-bottom: 20px;
}

#portfolio {
    text-align: center;
    font-family: var(--google-font);
}

p {
    text-align: center;
    font-family: Arial;
}

h2,
h3,
h4,
h3,
a {
    color: rgb(28, 33, 48);
    font-family: var(--google-font);
}

a:hover{
    color: var(--cherry);
}

.contactField {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#bottomRow {
    background-color: var(--tan);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-family: var(--google-font);
}

.gridMainOdd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
    justify-items: end;
    align-items: center;
    margin-right: 50px;

}

.gridMainEven {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
    justify-items: start;
    align-items: center;
    margin-left: 50px;
}

.gridMainEven .even {
    grid-row: 1;
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.websiteImage {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 992px) {
    .gridMainOdd {
        margin-right: 150px;
    }
    .gridMainEven {
        margin-left: 150px;
    }
}

#note {
    color: var(--grey);
    text-align: center;
    padding: 30px 0px 30px 0px;
    background-color: var(--main-blue);
width: 100%;
}

#return-image {
    width: 75px;
    height: 50px;
    margin: -1px 0px -1px -1px;
}

.websiteImage{
border: 1px solid var(--black);
}