#title {
    font-family: "Courier New";
    text-align: center;
    font-size: 60px;
}

#secondTitle {
    font-family: "Courier New";
    text-align: center;
    font-size: 30px;
}

#body {
    background-color: khaki;
}

#twitterLogo {
    width: 30px;
    height: auto;
}

#links {
    margin-bottom: 10px;
}

#getQuote {
    margin: auto;
    display: block;
}
.quote{
    font-family: monospace;
    font-size: 25px;
}
row {
    width: auto;
}

#getQuote{
    border: 5px solid skyblue;
    border-radius: 10px;
    font-size: 15px;
}
#tweetButton{
    border: 5px solid red;
    border-radius: 10px;
}