body {
    background-color: #c0c0c0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3a6ea5;
    text-align: center;
    font-size: 80px;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: #004e98
}

#buttonDiv {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 30px 20px;
    justify-content: center;
    grid-column-gap: 20px;
}
#work{
    grid-column: 2/3;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-align: center;
}
#break{
    grid-column: 3/4;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-align: center;
}

#container {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
}

#tomato {
    background-color: #ff6700;
    border-radius: 150px;
    text-align: center;
    text-justify: auto;
    grid-column: 2/3;
    grid-row:1/4;
}

#tomatoP {
    font-family: 'Montserrat', sans-serif;
    color: #ebebeb;
    margin-top: 175px;
    font-size: 75px;
}

#winStatement{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ebebeb;
    font-size: 30px;
}