

*{
    margin: 0;
}

#graph-div{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#graph{
    background: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.circle:hover{
    fill: red;
}

#title{
    text-align: center;
}

#return-header {
    height: 50px;
    background: var(--tan);
}

#return-image {
    width: 75px;
    height: 50px;
}

.dot{
    opacity: 0.9;
}