:root {
    --fresh: #4ABDAC;
}

#title {
    text-align: center;
    font-size: 60px;
    color: black;
}

#titleDiv {
    margin-bottom: 30px;
}

#body {
    background-color: turquoise;
    font-family: "Courier New"
}

.on{
    background: ivory;
}

.off{
    background: coral;
}

.stream img{
    width: 75px;
}

.stream{
    padding-bottom: 10px;
    padding-top: 10px;
}

div img{
    border: 5px solid navy;
    border-radius: 10px;
}
