
*{
    margin: 0;
}


#graph-div{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#graph{
    background: var(--grey);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.y-axis{
    font-size: 10px
}

.bar:hover{
    fill: gold;

}

#title{
    text-align: center;
}

.legend_squares{
    border: 1px solid black;
}