*{
    margin: 0;
}

#graph-div{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

}

#graph{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.bar:hover{
    fill: var(--tan)
}

#title{
    text-align: center;
    color: var(--black)
}