:root {
    --fresh: #4ABDAC;
    
}

#title {
    font-family: "Courier New";
    text-align: center;
    font-size: 60px;
    color: var(--fresh);
}

#titleDiv {
    margin-bottom: 30px;
}

#body {
    background-color: black;
    font-family: "Courier New"
}

#location {
    color: var(--fresh);
    font-size: 30px;
    text-align: center;
}

#latlong {
    color: var(--fresh);
    font-size: 30px;
    text-align: center;
}

#temperature {
    color: var(--fresh);
    font-size: 30px;
    text-align: center;
}

#weatherDescription {
    color: var(--fresh);
    font-size: 30px;
    text-align: center;
}

#weatherImage {
    color: var(--fresh);
    font-size: 30px;
    text-align: center;
}

#builtBy {
    text-align: center;
    color: var(--fresh);
    font-size: 20px;
}

.quote {
    font-family: monospace;
    font-size: 25px;
}

row {
    width: auto;
}

#tempButton{
    background: var(--fresh);
    font-size: 15px;
}
